<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-9">
    <div class="card text-center">
      <div class="card-header">
       Add New Product
      </div>
      <div class="card-body">
        <h5 class="card-title">Add your product here</h5>
        <div class="container">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-auto mb-3">
                <label for="brand" class="form-label">Brand</label>
                <input type="text" class="form-control" formControlName="brand">
              </div>
              <div class="col-md-auto mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-auto">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" formControlName="price">
              </div>
              <div class="col-md-auto">
                <label for="quantity" class="form-label">Qty</label>
                <input type="number" class="form-control" formControlName="quantity">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-3" style="margin-left: 40px;">
                <label for="category" class="form-label">Category</label>
                <select  class="form-select" formControlName="catId">
                  <option *ngFor="let id of categories" [value]="id.id">{{ id.name }}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-outline-primary mt-3" [disabled]="!productForm.valid">
              Add
            </button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-2">
    
  </div>
</div>



