<div class="card">
  <h1 class="card-header">Order Details</h1>
  <div class="card-body">
    <h3 class="card-title">Ordered Products</h3>
    <p class="card-text">This details shows the price and quantity of each order</p>
    <table *ngIf="object.length != 0" class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Qauntity</th>
          <th>SubTotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of object">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[1]*item[2] }}</td>
        </tr>
        <tr>
          <td colspan="3">

          </td>
          <td style="font-weight: bold; text-align: center;">
            <p>Total : {{ total }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- if products empty then display a message-->
    <div *ngIf="object?.length == 0" class="alert alert-info col-md-12" role="alert">
        Choose an order you want to see
    </div>
  </div>
</div>

