<div class="sidebar">

  <div class="sidebar-menu mt-2">
    <div class="brand">
      Test
    </div>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-link">
          <span><i class="bi bi-list"></i></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active-link">
          <span><i class="bi bi-person"></i></span>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active-link">
          <span><i class="bi bi-capslock"></i></span>
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>
</div>
