<div class="sidebar">
  <div class="col">
    <div class="row">
      <div type="button" (click)="toggleSidebar()" class="brand">
        <i class="bi bi-list"></i>
      </div>
    </div>
    <hr>
    <div class="row">
      <ul>
        <li>
          <a routerLink="/product" routerLinkActive="active-link">
            <span><i class="bi bi-tag-fill"></i></span>
            <span class="text">Products</span>
          </a>
        </li>
        <hr>
        <li>
          <a routerLink="/order" routerLinkActive="active-link">
            <span><i class="bi bi-cart"></i></span>
            <span class="text">Orders</span>
          </a>
        </li>
        <hr>
      </ul>
    </div>
  </div>
    
    
</div>

