<header>
  <div class="row">
    <div class="col-md-9">
      <div class="mt-2 mb-2">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a
              routerLink="/dashboard/product"
              routerLinkActive="active-link"
              class="nav-link"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/dashboard/order"
              routerLinkActive="active-link"
              class="nav-link"
              >Orders</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <app-cart-status></app-cart-status>
    </div>
  </div>
</header>

<div class="p-3 main">
  <router-outlet></router-outlet>
</div>
