<div *ngIf="cartItem.length != 0">
  

    <div class="row">
      <div class="col-md-3">
        <h5><strong>Review : </strong></h5>
      </div>
      <div class="col">
        <span> <strong> Total quantity: </strong> {{ computeQty() }} </span>
      </div>
      <div class="col">
        <span> <strong> Total price: </strong> : {{ calculateTotal() | number : '1.1-2' | currency: 'USD'}} </span>
      </div>
    </div>

      <table class="table table-striped">
        <thead class="th-dark">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempItem of cartItem">
    
            <td>{{ tempItem.name }}</td>
            <td>{{ tempItem.price | currency:'USD' }}</td>
            <td>
              <input class="form-control table-input-sample" min="0" type="number" [(ngModel)]="tempItem.quantity">
            </td>
            <td>
              {{tempItem.price!*tempItem.quantity | currency:"USD" }}
            </td>
            <td>
              <div class="row"> 
                <div class="col">
                  <button (click)="remove(tempItem)" class="trash-can">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
    
              </div>
            </td>
          </tr>
        </tbody>
      </table>

</div> 

