<div class="row">
  <div class="col">
    <h4 style="font-weight: bolder;">Orders</h4>
  </div>
  <div class="col-md-auto">
    <a (click)="addOrder()" class="btn btn-primary">
      <span class="bi bi-plus"></span> New Order
    </a>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-3">
    <div class="input-group">
      <span class="bi bi-search input-group-text"></span>
      <input class="form-control" #myInput (keyup.enter)="searchCode(myInput.value)" type="search" placeholder="Search here" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <span class="bi bi-calendar input-group-text"></span>
      <input type="date" [(ngModel)]="selectedDate" (change)="importDate()" class="form-control">
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
