/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Side Bar */
.sidebar {
  width: 180px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #4b44b6;
  transition: width 0.1s ease-out 0.2s;
}

.brand {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.sidebar li {
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: .5rem;
}

.sidebar a {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.sidebar span {
  padding: .5rem;
}

.sidebar a:hover {
  color: black;
}

.main-content.collapsed {
  margin-left: 70px;
  transition-delay: 0s;
}

.sidebar.collapsed {
  width: 70px;
  transition-delay: 0s;
}

.sidebar.collapsed li{
  margin-left: 0;
  text-align: center;
}

.sidebar.collapsed .text {
  display: none;
}

.main-content {
  margin-left: 180px;
  margin-top: 10px;
  transition: margin-left 0.1s ease-out 0.2s;
}


/* input */
.input-group-text {
  background-color: transparent;
  border-right: none;
}

.mt-24px{
  margin-top: 24px;
}

.th-dark{
  background-color: darkgray;
  font-weight: bolder;
}

.trash-can {
  border: none;
  background: none;
}

.trash-can i {
  color:red;
  font-size: 1rem;
}

.rightAlign {
  text-align: right;
  column-gap: 5px;
}

.tx-cen{
  text-align: center;
}

.table-input-sample{
  background: none;
  border: none; 
  padding: 0;
  width: 100px;
}

.table-input{
  background: none;
  border: none; 
  padding-left: 4px;
  width: 100px;
  margin-left: auto;
  text-align: center;
}
